/*general*/

@font-face {
    font-family: metal-ford;
    src:url("fonts/2.ttf")
}

h1>span{
    /*color:white;*/
    top:35%;
    position: absolute;
    transition: translateY(-50%);
    margin-top: -110px;
    margin-left: -135px;
    padding: 0;
    width:100%;
    text-align: start;
    font-family: metal-ford;
    font-style: italic;
    font-size:2em;
    letter-spacing: 5px;
    background:linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    color:transparent;
  }
  h1>span:nth-child(1)
  {
    z-index: 2;
  }
  h1>span:nth-child(2)
  {
    z-index: 1;
    text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
    4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
    -1px -1px 0 #fff;
  }


body {
    margin: 0px;
    padding: 0px;
    width: auto;

    display:flex;
    flex-direction: column;

    text-align: center;

    background:linear-gradient(#fff1e6,lightblue) ;
}

.section-params {
    margin: 0px 0px;
    width: auto;
}



/*section-title-----------------------------------------------------------------------------*/
.section-title {
    height: 220px;
    background-image: url("images/morska.jpg");
    background-size: cover;
}

#city-info {
    color: #03045e;
}

/*section-activities-----------------------------------------------------------------------------*/
.section-activities {
    height: 300px;
    margin-bottom: 18px;
}

#activities-title {
    display:block;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 14px;
    color:#03045e;
    background-color: #fff1e6;

}

.activities-wrapper {
    display: flex;
}

.activities-params {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 230px;
    width: 250px;
    
}

.activity1 {
    margin-left: auto;
}

.activity1-background {
    position:absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/morska.jpg");
    background-size: cover;
    border-radius: 8px;

}

.activity1-label {
    position:absolute;
    margin-top:202px;
    margin-bottom:0px;
    margin-left:68px;
    margin-right: 0px;
    padding: 2px 8px;
    border-radius: 100px;
    color: #fff1e6;
    text-shadow: 0px 0px 1px#03045e;
    backdrop-filter: blur(2px);
}

.activity1-text {
    padding: 10px;
    text-align: start;
    position:absolute;
    margin: 15px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
}

.activity1-background:hover + .activity1-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity1-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity2 {
    margin-left: auto;
    margin-right: auto;
}

.activity2-background {
    position:absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/pametnik.jpg");
    background-size: cover;
    border-radius: 8px;
}

.activity2-label {
    width: 190px;
    position:absolute;
    margin-top:182px;
    margin-bottom:0px;
    margin-left:23px;
    margin-right: 0px;
    color: #fff1e6;
    text-shadow: 0px 0px 1px#03045e;
    backdrop-filter: blur(2px);
    padding: 2px 8px;
    border-radius: 100px;
}

.activity2-text {
    padding: 10px;
    text-align: start;
    position:absolute;
    margin: 15px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
    font-size: 14px;
}

.activity2-background:hover + .activity2-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity2-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity3 {
    margin-right: auto;
}

.activity3-background {
    position:absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/far.jpg");
    background-size: cover;
    border-radius: 8px;
}

.activity3-label {
    position:absolute;
    margin-top:202px;
    margin-bottom:0px;
    margin-left:74px;
    margin-right: 0px;
    backdrop-filter: blur(2px);
    padding: 2px 8px;
    border-radius: 100px;
    color: #fff1e6;
    text-shadow: 0px 0px 1px#03045e;
}

.activity3-text {
    padding: 4px;
    position:absolute;
    margin: 24px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
}

.activity3-background:hover + .activity3-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity3-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}