/*general*/
.b {
    border: 2px dotted red;
}

body {
    margin: 1px;
    padding: 10px;
    border: 2px dotted blue;

    display:flex;
    flex-direction: column;

    text-align: center;

    background-color: lightblue;
}

.section-params {
    border: 2px dotted red;
    margin: 2px auto;
    width: 980px;
}



/*section-title-----------------------------------------------------------------------------*/
.section-title {
    height: 200px;
    background-image: url("images/morska.jpg");
    background-size: cover;
}

#title-title {
    color: red;
}

#city-info {
    color: red;
}

/*section-activities-----------------------------------------------------------------------------*/
.section-activities {
    height: 300px;
}

#activities-title {
    display:inline-block;
    border: 2px dotted red;
    margin: 14px auto;
    color:red;
}

.activities-wrapper {
    border: 2px dotted black;
    display: flex;
}

.activities-params {
    border: 2px dotted green;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 230px;
    width: 250px;
    
}

.activity1 {
    margin-left: auto;
}

.activity1-background {
    position:absolute;
    border: 2px dotted purple;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/morska.jpg");
    background-size: cover;
}

.activity1-label {
    position:absolute;
    margin-top:202px;
    margin-bottom:0px;
    margin-left:68px;
    margin-right: 0px;
    padding: 2px 8px;
    background-color: blue;
}

.activity1-text {
    padding: 10px;
    text-align: start;
    position:absolute;
    border: 2px dotted red;
    margin: 15px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
}

.activity1-background:hover + .activity1-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity1-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity2 {
    margin-left: auto;
    margin-right: auto;
}

.activity2-background {
    position:absolute;
    border: 2px dotted purple;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/pametnik.jpg");
    background-size: cover;
}

.activity2-label {
    width: 190px;
    position:absolute;
    margin-top:186px;
    margin-bottom:0px;
    margin-left:30px;
    margin-right: 0px;
    background-color: blue;
}

.activity2-text {
    padding: 10px;
    text-align: start;
    position:absolute;
    border: 2px dotted red;
    margin: 15px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
    font-size: 14px;
}

.activity2-background:hover + .activity2-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity2-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity3 {
    margin-right: auto;
}

.activity3-background {
    position:absolute;
    border: 2px dotted purple;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 230px;
    width: 250px;
    background-image: url("images/far.jpg");
    background-size: cover;
}

.activity3-label {
    position:absolute;
    margin-top:206px;
    margin-bottom:0px;
    margin-left:78px;
    margin-right: 0px;
    background-color: blue;
}

.activity3-text {
    padding: 4px;
    position:absolute;
    border: 2px dotted red;
    margin: 24px;
    height: auto;
    width: 200px;
    backdrop-filter: blur(2px);
    visibility: hidden;
}

.activity3-background:hover + .activity3-text {
    backdrop-filter: blur(2px);
    visibility: visible;
}

.activity3-text:hover {
    backdrop-filter: blur(2px);
    visibility: visible;
}

/*section-card-----------------------------------------------------------------------------*/
.section-card {
    height: 200px;

}